<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <appender name="SYS_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- CloudWatch appender -->
    <springProfile name="prod">
        <appender name="CLOUDWATCH" class="ca.pjer.logback.AwsLogsAppender">
            <logGroupName>warehouse-service</logGroupName>
            <logStreamName>local-dev</logStreamName>
            <encoder>
                <pattern>{"time":"%d{dd-MM-yyyy HH:mm:ss}", "level":"%level", "logger":"%logger{36}", "msg":"%msg", "thread":"%thread"}%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <!-- Application logger (your code logs) -->
    <logger name="sum25.group03.warehouseservice" level="INFO" additivity="false">
        <appender-ref ref="SYS_CONSOLE"/>
        <appender-ref ref="CLOUDWATCH"/>
    </logger>

    <!-- Root logger (framework/system logs) -->
    <root level="INFO">
        <appender-ref ref="SYS_CONSOLE"/>
    </root>

</configuration>
