
/* Tai khoan test chuyen khoan
# Current trasfer info:
# Ngân hàng	NCB
# Số thẻ	9704198526191432198
# Tên chủ thẻ	NGUYEN VAN A
# Ngày phát hành	07/15
# Mật khẩu OTP	123456
*/

# Third VNPay sandbox account: haicuongzoro@gmail.com && cgZoro9999@@@
VNP_TMN_CODE=KRUHQ8B6
VNP_HASH_SECRET=Y8AT6QPIY354ZEK1F73Z3I3VOJ4MYGY9
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_IPN_URL=https://huong-kymographic-unmercifully.ngrok-free.dev/api/v1/payments/vnpay/ipn
VNP_QUERY_URL=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction
VNP_REFUND_URL=https://sandbox.vnpayment.vn/merchant_webapi/api/refund
VNP_RETURN_URL=https://huong-kymographic-unmercifully.ngrok-free.dev/api/v1/payments/vnpay/return
