
/* Tai khoan test chuyen khoan
# Current trasfer info:
# Ngân hàng	NCB
# Số thẻ	9704198526191432198
# Tên chủ thẻ	NGUYEN VAN A
# Ngày phát hành	07/15
# Mật khẩu OTP	123456
*/

VNP_TMN_CODE=SSQ21UPR
VNP_HASH_SECRET=XJ1TNK555X8KDWJ96ESB15M53SXV9PNF
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_IPN_URL=https://huong-kymographic-unmercifully.ngrok-free.dev/api/v1/payments/vnpay/ipn
VNP_QUERY_URL=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction
VNP_REFUND_URL=https://sandbox.vnpayment.vn/merchant_webapi/api/refund
VNP_RETURN_URL=https://huong-kymographic-unmercifully.ngrok-free.dev/api/v1/payments/vnpay/return
